
@{
    ViewBag.Title = "LỗiTạoTàiKhoản";
}

<h2>Không thể tạo tài khoản vì tài khoản này đã tồn tại rồi . Nhấp vào <a href="@Url.Action("TrangChủ","Home",null)" style="color:red">đây</a> để về trang chủ</h2>

