
@{
    ViewBag.Title = "ThêmChứcVụThànhCông";
}

<h2>Bạn đã thêm chức vụ thành công ! Để tiếp tục thêm chức bấm vào <a href="@Url.Action("ThêmChứcVụ")"></a></h2>
@Html.ActionLink("Trở về danh sách chức vụ","QuảnLýChứcVụ",null,new { @class="btn btn-primary1"})

