
@{
    ViewBag.Title = "Lỗi thuê phòng";
}

<h2 style="color:red">Không thể thuê phòng khi phòng đã đặt</h2>

@Html.ActionLink("Về danh sách thuê phòng", "TrangThuêPhòng", null, new { @class = "btn btn-primary1" })