
@{
    ViewBag.Title = "LỗiBáoCáoDoanhThu";
}

<h2>Đã có lỗi xảy ra khi báo cáo doanh thu.Xin vui lòng liên hệ để hỏi admin giải quyết chuyện này .Nhấp vào <a href="@Url.Action("QuảnLýDoanhThu")">đây</a> để xem doanh thu </h2>

