
@{
    ViewBag.Title = "Lỗi delete";
}

<h2>Nếu bạn muốn xóa phòng đã đặt thì bạn nên xóa thuê phòng đã trước khi xóa phòng đã đặt</h2>

<div>
    @Html.ActionLink("Trở về trang danh sách phòng", "TrangPhòng", null, new { @class = "btn btn-primary1" })
</div>