
@{
    ViewBag.Title = "LỗiQuiĐịnh";
}

<h2>Đã có lỗi xảy ra khi thực hiện việc này vui lòng liên hệ bộ chúng tui để bik thêm chi tiết. Nhấp vào <a href="@Url.Action("QuiĐịnh","QuiDinhs")">đây</a>để về trang qui định.</h2>

