
@{
    ViewBag.Title = "Thành công!!";
}

<h2>Chúc mừng bạn đã đặt phòng thành công &#9786;&#9786;&#9786;</h2>

@Html.ActionLink("Tạo chi tiết thuê phòng", "TạoChiTiếtThuêPhòng", "ChiTietThuePhongs", null, new { @class = "btn btn-primary1" })

