﻿<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" type="image/ico" href="~/Content/Icons8-Windows-8-City-Hotel.ico">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Welcome to Luxury Hotel!</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <meta name="description" content="The description of my page" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="~/Scripts/bootstrap.js"></script>
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>

<body style="margin:0">

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <img style="float:left;width:30px;margin-right:10px;margin-top:10px;" src="~/Content/Homeiocn.png" />
                @Html.ActionLink("LUXURY HOTEL", "TrangChủ", "Home", new { area = "" }, new { @class = "navbar-brand", @style = "color:white !important;font-family:'Lucida Handwriting'" })

            </div>
            <div class="navbar-header navbar-right">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="navbar-collapse collapse navbar-right" style="color:white">
                    @if (Request.IsAuthenticated)
                    {
                        TaiKhoan user = new TaiKhoan();
                        user = Session["User"] as TaiKhoan;
                        if (user != null)
                        {
                            if (user.Roles == "Admin")
                            {
                                <img style="float:left;width:30px;margin-right:10px;margin-top:10px;" src="~/Content/personnelicon.png" />
                                @Html.ActionLink("Nhân Viên", "TrangNhânViên", "NVs", new { area = "" }, new { @class = "navbar-brand", @style = "color:white !important" })
                                <img style="float:left;width:30px;margin-right:10px;margin-top:10px;" src="~/Content/roomicon.png" />
                                @Html.ActionLink("Phòng", "TrangPhòng", "Phongs", new { area = "" }, new { @class = "navbar-brand", @style = "color:white !important" })
                                <img style="float:left;width:30px;margin-right:10px;margin-top:10px;" src="~/Content/customericon.png" />
                                @Html.ActionLink("Khách Hàng", "QuảnLýKháchHàng", "KhachHangs", new { area = "" }, new { @class = "navbar-brand", @style = "color:white !important" })
                                <img style="float:left;width:30px;margin-right:10px;height:35px;margin-top:10px;" src="~/Content/billicon.png" />
                                @Html.ActionLink("Hóa Đơn", "QuảnLýHóaĐơn", "HDs", new { area = "" }, new { @class = "navbar-brand", @style = "color:white !important" })
                                <img style="float:left;width:30px;margin-right:10px;margin-top:10px;" src="~/Content/moneyicon.png" />
                                @Html.ActionLink("Doanh Thu", "QuảnLýDoanhThu", "DoanhThus", new { area = "" }, new { @class = "navbar-brand", @style = "color:white !important" })
                            }
                            else if (user.Roles == "KT" || user.Roles == "AM")
                            {
                                <img style="float:left;width:30px;margin-right:10px;height:35px;margin-top:10px;" src="~/Content/billicon.png" />
                                @Html.ActionLink("Hóa Đơn", "QuảnLýHóaĐơn", "HDs", new { area = "" }, new { @class = "navbar-brand", @style = "color:white !important" })
                                <img style="float:left;width:30px;margin-right:10px;margin-top:10px;" src="~/Content/moneyicon.png" />
                                @Html.ActionLink("Doanh Thu", "QuảnLýDoanhThu", "DoanhThus", new { area = "" }, new { @class = "navbar-brand", @style = "color:white !important" })
                            }
                            else if (user.Roles == "TT")
                            {
                                <img style="float:left;width:30px;margin-right:10px;margin-top:10px;" src="~/Content/roomicon.png" />
                                @Html.ActionLink("Phòng", "TrangPhòng", "Phongs", new { area = "" }, new { @class = "navbar-brand", @style = "color:white !important" })
                                <img style="float:left;width:30px;margin-right:10px;margin-top:10px;" src="~/Content/customericon.png" />
                                @Html.ActionLink("Khách Hàng", "QuảnLýKháchHàng", "KhachHangs", new { area = "" }, new { @class = "navbar-brand", @style = "color:white !important" })
                            }
                            else if (user.Roles == "PM")
                            {
                                <img style="float:left;width:30px;margin-right:10px;margin-top:10px;" src="~/Content/personnelicon.png" />
                                @Html.ActionLink("Nhân Viên", "TrangNhânViên", "NVs", new { area = "" }, new { @class = "navbar-brand", @style = "color:white !important" })
                            }
                        }

                    }

                </div>

            </div>
            <ul class="nav navbar-collapse collapse navbar-right">
                <li>@Html.Action("TruyenDuLieu", "Home")</li>
            </ul>
        </div>
    </div>
   

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer id="footer">
            <div class="fpart-first">
                <div style="width:100%;" class="container">
                    <div class="row">
                        <div class="col-md-3">
                            <h5>Về chúng tôi</h5>
                            <ul>
                                <li>@Html.ActionLink("Về Luxury Hotel", "About", "Home", null, new { @class = "about1" })</li>
                            </ul>
                        </div>
                        <div class="col-md-4 contact">
                            <h5>Liên Hệ</h5>
                            <ul>
                                <li>@Html.ActionLink("Liên hệ chúng tôi", "Contact", "Home", null, new { @class = "about1" })</li>
                            </ul>
                        </div>
                        <div class="col-md-5 contact">
                            <h5>Địa chỉ</h5>
                            <ul>
                                <li><span>Sư Vạn Hạnh Phường 13 Quận 10</span></li>
                                <li><span>Ngày thành lập: 7/4/2016</span></li>
                                <li><span>Sđt: +08 38629233</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <h4 class="copy">&copy; @DateTime.Now.Year - Copyright Luxury Hotel</h4>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
