
@{
    ViewBag.Title = "LỗiLoạiPhòng";
}

<h2>Đã có lỗi xảy ra mời bạn liên hệ admin hoặc liên hệ chúng tui.</h2>

@Html.ActionLink("Trở về loại phòng","LoạiPhòng",null,new { @class="btn btn-primary1"})